.contenedor {
  background: chocolate;
  width: 900px;
  height: 800px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header header header"
    " sidebar  contenido contenido  "
    "footer footer footer";
  grid-gap: 5px;
}
.contenedor > div,
.contenedor .header,
.contenedor .sidebar,
.contenedor .contenido,
.contenedor .footer {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
}

.contenedor .header {
  grid-area: header;
  background: rgb(249, 163, 66);
  color: rgb(44, 88, 8);
  text-align: justify;
  text-decoration: none;
  font-size: 30px;
}

.contenedor .contenido {
  grid-area: contenido;
  background: #e8fe97;
}

.contenedor .sidebar {
  grid-column: 1/2;
  background: #faa43d;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  grid-area: sidebar;
  font-size: 30px;
}

.contenedor .footer {
  background: rgba(23, 27, 100);
  color: #fff;
  grid-area: footer;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-areas:
      "header header header"
      "contenido contenido contenido"
      "sidebar sidebar sidebar"
      "footer footer footer";
  }
}
